# EDA Capstone SQL <-> Python Preliminary EDA

Data Science in Health: Infant Mortality

In [ ]:
# Verify Jupyter env dependencies
%pip install ipython-sql sqlalchemy # sqlite3 - uncomment if needed to install sqlite3

In [14]:
import os

os.getcwd()

'/home/rc/capstone/data'

In [2]:
import pandas as pd
import numpy as np
os.chdir("../data")
!ls -l

total 2496
drwxr-xr-x 3 rc rc    4096 Sep  3 01:44 Key_Indicator_State_and_District_wise_data
-rw-r--r-- 1 rc rc   90112 Sep 13 04:59 Key_Indicators_Statewise.sqlite
-rw-r--r-- 1 rc rc  976289 Sep 20  2019 Key_indicator_districtwise.csv
-rw-r--r-- 1 rc rc   72192 Sep 20  2019 Key_indicator_statewise.csv
-rwxrwxrwx 1 rc rc 1407790 Sep  3 01:38 healthanalytics.zip
-rw-r--r-- 1 rc rc       0 Sep 13 05:00 statewise.sqlite

### Load SQL extension in Jupyter

WIP - EDA is more complex with SQL on Jupyter Notebooks.

In [19]:
# Load dataset
%load_ext sql
%sql sqlite:///Key_Indicators_Statewise.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
# Run SQL EDA for capstone project development
%%sql
SELECT * AS table_name
FROM sqlite_master
WHERE type='table'
ORDER BY name;

SyntaxError: invalid syntax (66970047.py, line 3)

In [30]:
%%sql
SELECT * AS column_name, type AS declared_type, "notnull", dflt_value
FROM pragma_table_info('statewise');

 * sqlite:///Key_Indicators_Statewise.sqlite
(sqlite3.OperationalError) near "AS": syntax error
[SQL: SELECT * AS column_name, type AS declared_type, "notnull", dflt_value
FROM pragma_table_info('statewise');]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
%%sql
SELECT *
FROM statewise
LIMIT 5;

In [23]:
%%sql
SELECT
  COUNT(*) AS n_rows,
  SUM(CASE WHEN NULLIF(state,'') IS NULL THEN 1 ELSE 0 END) AS n_blank_state
FROM statewise;

 * sqlite:///Key_Indicators_Statewise.sqlite
(sqlite3.OperationalError) no such column: state
[SQL: SELECT
  COUNT(*) AS n_rows,
  SUM(CASE WHEN NULLIF(state,'') IS NULL THEN 1 ELSE 0 END) AS n_blank_state
FROM statewise;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [24]:
%%sql
SELECT
  COUNT(*) AS n_rows,
  COUNT(DISTINCT state) AS n_states
FROM statewise;

 * sqlite:///Key_Indicators_Statewise.sqlite
(sqlite3.OperationalError) no such column: state
[SQL: SELECT
  COUNT(*) AS n_rows,
  COUNT(DISTINCT state) AS n_states
FROM statewise;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
%%sql
SELECT
  'population' AS col, SUM(CASE WHEN NULLIF(population,'') IS NULL THEN 1 ELSE 0 END) AS n_null
UNION ALL
SELECT 'infant_mortality', SUM(CASE WHEN NULLIF(infant_mortality,'') IS NULL THEN 1 ELSE 0 END)
UNION ALL
SELECT 'under5_mortality', SUM(CASE WHEN NULLIF(under5_mortality,'') IS NULL THEN 1 ELSE 0 END)
ORDER BY n_null DESC;

 * sqlite:///Key_Indicators_Statewise.sqlite
(sqlite3.OperationalError) no such column: under5_mortality
[SQL: SELECT
  'population' AS col, SUM(CASE WHEN NULLIF(population,'') IS NULL THEN 1 ELSE 0 END) AS n_null
UNION ALL
SELECT 'infant_mortality', SUM(CASE WHEN NULLIF(infant_mortality,'') IS NULL THEN 1 ELSE 0 END)
UNION ALL
SELECT 'under5_mortality', SUM(CASE WHEN NULLIF(under5_mortality,'') IS NULL THEN 1 ELSE 0 END)
ORDER BY n_null DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
import prettytable as pt
[k for k in dir(pt) if k.isupper()]

['_DEPRECATED_ALL',
 '_DEPRECATED_DEFAULT',
 '_DEPRECATED_DOUBLE_BORDER',
 '_DEPRECATED_FRAME',
 '_DEPRECATED_HEADER',
 '_DEPRECATED_MARKDOWN',
 '_DEPRECATED_MSWORD_FRIENDLY',
 '_DEPRECATED_NONE',
 '_DEPRECATED_ORGMODE',
 '_DEPRECATED_PLAIN_COLUMNS',
 '_DEPRECATED_RANDOM',
 '_DEPRECATED_SINGLE_BORDER']

In [ ]:
%config SqlMagic.style = 'PLAIN_COLUMNS'   # or 'MARKDOWN' / 'MSWORD_FRIENDLY'

In [33]:
%%sql
SELECT
  name,
  type,
  "notnull",
  dflt_value,
  pk
FROM pragma_table_info('statewise');

 * sqlite:///Key_Indicators_Statewise.sqlite
Done.

KeyError: 'DEFAULT'

In [36]:
import sqlite3, pandas as pd
con = sqlite3.connect("Key_Indicators_Statewise.sqlite")
df = pd.read_sql_query("SELECT name, type, \"notnull\", dflt_value, pk FROM pragma_table_info('statewise');", con)
df.head(20)

,name,type,notnull,dflt_value,pk
0,State_Name,TEXT,0,None,0
1,AA_Sample_Units_Total,TEXT,0,None,0
2,AA_Sample_Units_Rural,TEXT,0,None,0
3,AA_Sample_Units_Urban,TEXT,0,None,0
4,AA_Households_Total,TEXT,0,None,0
5,AA_Households_Rural,TEXT,0,None,0
6,AA_Households_Urban,TEXT,0,None,0
7,AA_Population_Total,TEXT,0,None,0
8,AA_Population_Rural,TEXT,0,None,0
9,AA_Population_Urban,TEXT,0,None,0
10,AA_Ever_Married_Women_Aged_15_49_Years_Total,TEXT,0,None,0
11,AA_Ever_Married_Women_Aged_15_49_Years_Rural,TEXT,0,None,0
12,AA_Ever_Married_Women_Aged_15_49_Years_Urban,TEXT,0,None,0
13,AA_Currently_Married_Women_Aged_15_49_Years_Total,TEXT,0,None,0
14,AA_Currently_Married_Women_Aged_15_49_Years_Rural,TEXT,0,None,0
15,AA_Currently_Married_Women_Aged_15_49_Years_Urban,TEXT,0,None,0
16,AA_Children_12_23_Months_Total,TEXT,0,None,0
17,AA_Children_12_23_Months_Rural,TEXT,0,None,0
18,AA_Children_12_23_Months_Urban,TEXT,0,None,0
19,BB_Average_Household_Size_Sc_Total,TEXT,0,None,0

In [ ]:
# wip. SQL to Python, Python to SQL interoperability.