# Data Cleaning for Tableau Dashboard

In [17]:
import re
import os
import numpy as np
import pandas as pd

In [13]:
os.getcwd()

'/home/rc/capstone/data'

In [ ]:
# os.chdir('../../data')

In [19]:
df = pd.read_csv('Key_indicator_districtwise.csv')
df.columns = [re.sub(r'^[A-Z]{2}_', '', col) for col in df.columns]

In [20]:
df.head(3)

,State_Name,State_District_Name,Sample_Units_Total,Sample_Units_Rural,Sample_Units_Urban,Households_Total,Households_Rural,Households_Urban,Population_Total,Population_Rural,...,Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,Sex_Ratio_At_Birth_Total_Lower_Limit,Sex_Ratio_At_Birth_Total_Upper_Limit,Sex_Ratio_At_Birth_Rural_Lower_Limit,Sex_Ratio_At_Birth_Rural_Upper_Limit,Sex_Ratio_At_Birth_Urban_Lower_Limit,Sex_Ratio_At_Birth_Urban_Upper_Limit
0,Assam,Barpeta,53,47,6,13711,12765,946,64606,60293,...,54,70,NaN,NaN,871,985,851,965,908.0,1611.0
1,Assam,Bongaigaon,89,73,16,17384,14904,2480,84012,73899,...,58,73,NaN,NaN,897,1005,911,1026,621.0,956.0
2,Assam,Cachar,105,84,21,27488,24207,3281,127158,112171,...,68,80,31.0,57.0,891,966,871,949,905.0,1168.0

In [21]:
df.shape

(284, 644)

In [22]:
df.to_csv('ahs_districtwise.csv', index=False)

In [23]:
!ls

Key_Indicator_State_and_District_wise_data  ahsdistrictwise.db
Key_indicator_districtwise.csv		    ahsstatewise.db
Key_indicator_statewise.csv		    healthanalytics.db
ahs_districtwise.csv			    healthanalytics.zip

In [24]:
df = pd.read_csv('Key_indicator_statewise.csv')
df.columns = [re.sub(r'^[A-Z]{2}_', '', col) for col in df.columns]

In [28]:
df.head(9)

,State_Name,Sample_Units_Total,Sample_Units_Rural,Sample_Units_Urban,Households_Total,Households_Rural,Households_Urban,Population_Total,Population_Rural,Population_Urban,...,Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,Sex_Ratio_At_Birth_Total_Lower_Limit,Sex_Ratio_At_Birth_Total_Upper_Limit,Sex_Ratio_At_Birth_Rural_Lower_Limit,Sex_Ratio_At_Birth_Rural_Upper_Limit,Sex_Ratio_At_Birth_Urban_Lower_Limit,Sex_Ratio_At_Birth_Urban_Upper_Limit
0,Assam,1784,1412,372,388853,319766,69087,1809610,1518639,290971,...,76,79,33,40,936,958,930,954,945,1009
1,Bihar,2356,1981,375,612684,568030,44654,3227867,2993906,233961,...,71,73,48,55,918,932,918,933,893,953
2,Chhattisgarh,1255,926,329,287085,226554,60531,1264309,994416,269893,...,63,67,37,43,943,969,944,973,916,975
3,Jharkhand,2108,1513,595,392734,318142,74592,2019298,1644036,375262,...,56,58,27,31,920,940,932,954,860,909
4,Madhya Pradesh,2557,1660,897,519811,357179,162632,2389787,1629355,760432,...,91,94,55,59,897,914,906,926,860,893
5,Odisha,2364,1798,566,477065,392913,84152,1992799,1637152,355647,...,78,81,45,51,897,919,895,918,889,943
6,Rajasthan,1841,1294,547,362671,300306,62365,1828116,1521017,307099,...,79,82,48,55,877,897,875,896,869,920
7,Uttar Pradesh,3927,2782,1145,883613,710313,173300,4808503,3883293,925210,...,96,98,61,65,915,928,922,935,874,904
8,Uttarakhand,2501,1962,539,392643,308474,84169,1726477,1365247,361230,...,50,53,34,40,861,884,868,894,823,877

In [29]:
df.shape

(9, 643)

In [30]:
df.to_csv('ahs_statewise.csv', index=False)

In [31]:
!ls

Key_Indicator_State_and_District_wise_data  ahsdistrictwise.db
Key_indicator_districtwise.csv		    ahsstatewise.db
Key_indicator_statewise.csv		    healthanalytics.db
ahs_districtwise.csv			    healthanalytics.zip
ahs_statewise.csv