## EDA Null/NaN Values (By State)

Check for missing and null values in AHS statewise dataset

In [1]:
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

os.getcwd()

'/home/rc/seniorcapstoneproject/notebooks/data-cleaning'

In [2]:
os.chdir('../../data')
!ls

Key_indicator_districtwise.csv		    Key_indicator_statewise.csv
Key_Indicator_State_and_District_wise_data

In [3]:
df = pd.read_csv("Key_indicator_statewise.csv")
df.shape

(9, 643)

In [5]:
# Removes all letter prefixes eg AA_ - ZZ_ from feature columns
df.columns = [re.sub(r'^[A-Z]{2}_', '', col) for col in df.columns]
df.head()

,State_Name,Sample_Units_Total,Sample_Units_Rural,Sample_Units_Urban,Households_Total,Households_Rural,Households_Urban,Population_Total,Population_Rural,Population_Urban,...,Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,Sex_Ratio_At_Birth_Total_Lower_Limit,Sex_Ratio_At_Birth_Total_Upper_Limit,Sex_Ratio_At_Birth_Rural_Lower_Limit,Sex_Ratio_At_Birth_Rural_Upper_Limit,Sex_Ratio_At_Birth_Urban_Lower_Limit,Sex_Ratio_At_Birth_Urban_Upper_Limit
0,Assam,1784,1412,372,388853,319766,69087,1809610,1518639,290971,...,76,79,33,40,936,958,930,954,945,1009
1,Bihar,2356,1981,375,612684,568030,44654,3227867,2993906,233961,...,71,73,48,55,918,932,918,933,893,953
2,Chhattisgarh,1255,926,329,287085,226554,60531,1264309,994416,269893,...,63,67,37,43,943,969,944,973,916,975
3,Jharkhand,2108,1513,595,392734,318142,74592,2019298,1644036,375262,...,56,58,27,31,920,940,932,954,860,909
4,Madhya Pradesh,2557,1660,897,519811,357179,162632,2389787,1629355,760432,...,91,94,55,59,897,914,906,926,860,893

In [6]:
# Verify all 9 states from AHS survey are accounted for
states = list(df.State_Name.unique())
print(len(states))
states

9

['Assam',
 'Bihar',
 'Chhattisgarh',
 'Jharkhand',
 'Madhya Pradesh',
 'Odisha',
 'Rajasthan',
 'Uttar Pradesh',
 'Uttarakhand']

## Missing Values and Null Count

Statewise AHS dataset shows 0 null values

In [8]:
# Null count per feature (overall)
null_counts = df.isnull().sum()

print("Null counts per feature:")
print(null_counts[null_counts > 0])
print("\nTotal null count across all features:")
print(null_counts[null_counts > 0].sum())

Null counts per feature:
Series([], dtype: int64)

Total null count across all features:
0