## Null/Missing Values (By District)

Check for missing and null values in AHS districtwise dataset

In [9]:
import os
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

os.getcwd()

'/home/rc/seniorcapstoneproject/data'

In [11]:
#os.chdir('../../data')
!ls

Key_indicator_districtwise.csv		    Key_indicator_statewise.csv
Key_Indicator_State_and_District_wise_data

In [12]:
df = pd.read_csv("Key_indicator_districtwise.csv")
df.shape

(284, 644)

In [13]:
# Removes all letter prefixes eg AA_ - ZZ_ from feature columns
df.columns = [re.sub(r'^[A-Z]{2}_', '', col) for col in df.columns]
df.head()

,State_Name,State_District_Name,Sample_Units_Total,Sample_Units_Rural,Sample_Units_Urban,Households_Total,Households_Rural,Households_Urban,Population_Total,Population_Rural,...,Under_Five_Mortality_Rate_U5MR_Rural_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Rural_Upper_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit,Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit,Sex_Ratio_At_Birth_Total_Lower_Limit,Sex_Ratio_At_Birth_Total_Upper_Limit,Sex_Ratio_At_Birth_Rural_Lower_Limit,Sex_Ratio_At_Birth_Rural_Upper_Limit,Sex_Ratio_At_Birth_Urban_Lower_Limit,Sex_Ratio_At_Birth_Urban_Upper_Limit
0,Assam,Barpeta,53,47,6,13711,12765,946,64606,60293,...,54,70,NaN,NaN,871,985,851,965,908.0,1611.0
1,Assam,Bongaigaon,89,73,16,17384,14904,2480,84012,73899,...,58,73,NaN,NaN,897,1005,911,1026,621.0,956.0
2,Assam,Cachar,105,84,21,27488,24207,3281,127158,112171,...,68,80,31.0,57.0,891,966,871,949,905.0,1168.0
3,Assam,Darrang,26,24,2,5951,5769,182,29048,28256,...,79,107,NaN,NaN,913,1102,908,1097,NaN,NaN
4,Assam,Dhemaji,121,108,13,14481,12619,1862,75451,66537,...,40,53,11.0,38.0,935,1045,938,1054,772.0,1083.0

In [19]:
# Verify all districts from AHS survey are accounted for
districts = list(df.State_District_Name.unique())
print("Total # of districts:")
print(len(districts))

Total # of districts:
284

## Missing Values and Null Count

Districtwise AHS dataset shows 0 null values

In [20]:
# Null count per feature (overall)
null_counts = df.isnull().sum()

print("Null counts per feature:")
print(null_counts[null_counts > 0])
print("\nTotal null count across all features:")
print(null_counts[null_counts > 0].sum())

Null counts per feature:
Average_Household_Size_St_Urban                                                      1
Sex_Ratio_At_Birth_Urban                                                             3
Marriages_Among_Females_Below_Legal_Age_18_Years_Urban                              45
Marriages_Among_Males_Below_Legal_Age_21_Years_Urban                                45
Currently_Married_Women_Aged_20_24_Years_Married_Before_Legal_Age_18_Years_Urban    45
                                                                                    ..
Infant_Mortality_Rate_Urban_Upper_Limit                                             78
Under_Five_Mortality_Rate_U5MR_Urban_Lower_Limit                                    78
Under_Five_Mortality_Rate_U5MR_Urban_Upper_Limit                                    78
Sex_Ratio_At_Birth_Urban_Lower_Limit                                                 9
Sex_Ratio_At_Birth_Urban_Upper_Limit                                                 9
Length: 199, dtype: int64

Total null count across all features:
9297